:root{
    --Softorange: hsl(35, 77%, 62%);
    --Softred: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Verydark-blue: hsl(240, 100%, 5%);
    --font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 70px 150px 30px 150px;
}
 .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.close{
    display: none;
}
.right a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-family: var(--font-family);
    font-size: 14px;
}
.right a:hover{
    color: var(--Softred);
}
.icon-menu{
    display: none;
}

@media only screen and (max-width:450px){
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 20px auto;
    }
    .icon-menu{
        display: block;
    }
    .mini{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color:rgb(255, 255, 255);
        z-index: 1;
    }
    .close{
        display: block;
        position: absolute;
        top: 20px;
        right:20px;
    }
    .mini a{
        position: relative;
        top: 130px;
        left: 40px;
        display: block;
        padding-top: 30px;
        color: var(--Verydark-blue);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
    }
   
}

.grid{
    margin: 50px 160px 0 150px;
    height: 500px;
    width: 80%;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "tp tp side"
    "mid mid2 side"
    "btm1 btm2 btm3"
    ;
}
.ff{
    display: none;
}
.grid .top{
  grid-area: tp;
}
.grid .top img{
    width: 100%;
    height: 350px;
}
.grid .side{
    grid-area: side;
    width: 90%;
    height: 96%;
    background-color: var(--Verydark-blue); 
    padding: 20px 15px 0 20px;
}
.side h1{
    color: var(--Softorange);
    font-size: 45px;
    font-family: var(--font-family);
    margin: 0 0 20px 0;
}
hr{
   margin: 37px 0;
}
.side a{
    color: var(--Off-white);
    font-family: var(--font-family); 
    font-size: 1.2rem;
    font-weight: 700;
}
.side a:hover{
    color: var(--Softorange);
    cursor: pointer;
   
}
.side h3{
    color: var(--Off-white);
    font-family: var(--font-family);
   
}
.side p{
    color: var(--Grayish-blue);
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 30px;
}
.grid .mid{
    grid-area: mid;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.mid h1{
    font-size: 2.8rem;
    font-family: var(--font-family);
    color: var(--Verydark-blue);
    font-weight: 800;
    width: 90%;
    height: 100%;
    margin: 10px;
}
.grid .mid2{
    grid-area: mid2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sec p{
    font-size: 15px;
    font-family: var(--font-family);
    color: var(--Dark-grayish-blue);
    width: 100%;
    height: 100%;
    line-height: 1.7em;
}
.sec a{
    text-decoration: none;
    padding: 14px 40px;
    background-color: var(--Softred);
    color: var(--Off-white);
    font-family: var(--font-family);
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.sec a:hover{
    background-color: var(--Verydark-blue);
    transition: all 0.3s;
}

.grid .btm1{
    grid-area: btm1;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.grid .btm2{
    grid-area: btm2;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.grid .btm3{
    grid-area: btm3;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contain img{
    width: 130px;
    height: 130px;
}
.col{
    width: 100%;
    padding: 0 0px 0 0px;
}
.col h1{
    font-family: var(--font-family);
    color: var(--Grayish-blue);
    margin: 20px 0 0px 20px;
    width: 100%;
}
.col h4{
    font-family: var(--font-family);
    color: var(--Verydark-blue);
    margin: 10px 0 8px 20px;
    width: 100%;
}
.col p{
    font-family: var(--font-family);
    color: var(--Dark-grayish-blue);
    margin-left: 20px;
    font-size: 13px;
    width: 80%;
    
}
@media only screen and (max-width:876px){
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin: 50px 100px 30px 90px;
    }
    .ff{
        display: block;
    }
    .fd{
        display: none;
    }
    .right a{
        text-decoration: none;
        color: var(--Dark-grayish-blue);
        font-family: var(--font-family);
        font-size: 14px;
        padding-left: 20px;
    }
     .grid{
        margin: 20px 20px;
        height: 500px;
        width: 95%;
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "tp tp side"
        "mid mid2 side"
        "btm1 btm2 btm3"
    ;
}  

}
@media only screen and (max-width:680px){
   
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
      margin-left: 20px;
    }
    .fd{
        display: none;
    }
    .icon-menu{
        display: block;
    }
    .mini{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        height: 100vh;
        background-color:rgb(255, 255, 255);
        z-index: 1;
    }
    .close{
        display: block;
        position: absolute;
        top: 30px;
        right:30px;
    }
    .mini a{
        position: relative;
        top: 130px;
        left: 15px;
        display: block;
        padding-top: 30px;
        color: var(--Verydark-blue);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
    }
    .grid{
        margin: 20px 20px;
        height: 500px;
        width: 95%;
        display: grid;
        gap: 20px;
        grid-template-areas: 
       "tp tp"
       "mid mid"
       "mid2 mid2"
       "side side"
       "btm1 btm1" 
       "btm2 btm2"
       "btm3 btm3"
    ;
}  
   
}